   
{"train_batch_size": 64,
 "train_micro_batch_size_per_gpu":  1,
 "gradient_accumulation_steps": 16,
 "steps_per_print": 10,
 "optimizer": {
    "type": "AdamW",
    "params": {
      "lr": 0.00001,
      "weight_decay": 0.01,
      "bias_correction": false
    }
  },
  "gradient_clipping": 1.0,
  "fp16": {
     "enabled": true
  },
 "zero_optimization": {
     "stage": 1,
     "cpu_offload": true,
     "contiguous_gradients": true,
     "overlap_comm": true
 },
 "activation_checkpointing": { 
   "partition_activations": true, 
   "contiguous_memory_optimization": true, 
   "cpu_checkpointing": true }, 
  "wall_clock_breakdown": false,
  "tensorboard": {
   "enabled": true,
   "output_path": "/home/martin/FiD/tensorboard",
   "job_name": "train_fid"
  }
}
